<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Acceuil</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>li {padding: 5px ;}
        #ex{
            padding: 5px
        }
        #page{
            border-radius: 10px;
            background-color:#fff;
            padding: 5px;
        }
        #recipeBlock{
            padding: 5px;
            border-radius: 10px;
            background-color:#FFF5F2;
        }
    </style>

</head>

<body style="background-color:#FFF5F2" >

<nav class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar" style="background-color: #B03212;">
    <a class="navbar-brand"> <h3 style="color:#FFF5F2">Les confinés de canard</h3></a>
    <div class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="nav-item" style="color:#FFF5F2"> Tendances </li>
        </ul>
    </div>
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <li class="nav-item dropdown">
            <a class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown" th:href="@{/profil}" ><span style="text-align: center" th:utext="${user.pseudo}"></span></a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" th:href="@{/profil}">Mes recettes</a>
                <a class="dropdown-item" th:href="@{/create_recette}">Ajouter une recette</a>
                <a class="dropdown-item" th:href="@{/favorite}">Recettes favorites</a>
                <a class="dropdown-item" th:href="@{/modif}">Modifier utilisateur</a>
                <a class="dropdown-item" th:href="@{/connexion}">Se déconnecter</a>
            </div>
        </li>
    </ul>
</nav>


<div id="ex">
    <div id="page" class="container" >
        <th:block th:each="recette : ${recettes}">
            <div style="padding: 5px">
            <div id="recipeBlock" >
                <h1 style="text-align: center" th:text="${recette.getTitle}"></h1>
                <div class="row">
                    <div class="col-sm-10" ><article><p th:text="${recette.getContent}"></p></article></div>
                    <div class="col-sm-2" style="text-align: center" ><button class="btn btn-outline-dark"  th:attr="onclick=|like('${recette.getId}')|">&#9829;</button></div>
                </div>
                <div style="text-align: right"><a th:text="${'Recette proposée par : ' + recette.getRecipe_creator}">  </a>     </div>
            </div>
            </div>
        </th:block>

        <script>
            function like(id) {
                fetch(
                    "/like",
                    {
                        headers : {
                            "Content-Type": "application/json",
                            "Accept" : "application/json",

                        },
                        method : "post",
                        body : id

                    }
                ).then((data) => {
                    console.log(data)
                }).catch((error) =>{
                    console.log(error)
                })
            }
        </script>
    </div>
</div>



</body>
</html>

