<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Modifier Utilisateur</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        li {padding: 5px ;}
        button {text-align: center;}
        input {width : 40% }
        #ex{
            padding: 5px
        }
        #page{
            background-color: white;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            padding: 10px;
            border-radius: 10px;
            text-align: center;
        }
    </style>

<body style="background-color:#FFF5F2">

<nav class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar" style="background-color: #B03212;">
    <a class="navbar-brand" th:href="@{/app}"> <h3 style="color:#FFF5F2">Les confinés de canard</h3></a>
    <div class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="nav-item" th:href="@{/app}" style="color:#FFF5F2"> Tendances </li>
        </ul>
    </div>
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <li class="nav-item dropdown">
            <a class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown" th:href="@{/profil}" ><span style="text-align: center" th:utext="${user.pseudo}"></span></a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" th:href="@{/profil}">Mes recettes</a>
                <a class="dropdown-item" th:href="@{/create_recette}">Ajouter une recette</a>
                <a class="dropdown-item" th:href="@{/favorite}">Recettes favorites</a>
                <a class="dropdown-item" th:href="@{/connexion}">Se déconnecter</a>
            </div>
        </li>
    </ul>
</nav>


<div id="ex">
    <div id="page">
    <form th:object="${user}" method="post" th:action="@{/validFormModif}">
        <p>Nom d'utilisateur :     <input type="text" th:field="*{pseudo}" /></p>
        <p>Nouveau mot de passe : <input type="password" th:field="*{password}"/></p>
        <input class="btn btn-outline-dark" type="submit" value="Modifier" />
    </form>
    </div>
</div>

</body>
</html>